.main_nav {
    display: flex;
    background: var(--primary-color);
    justify-content: space-between;
    padding-inline: 1em;
    padding-block: 5px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
}

.avatar_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
    align-self: flex-end;
    cursor: pointer;
    position: relative;
}

.menu {
    position: absolute;
    top: 100%;
    background-color: lightgray;
    right: 0;
}
