:root{
    --primary-color: #262633;
    --secondary-color: #2e2e3c;
    --back-ground-color: #242731;
    --secondary-dark-color: #1a202c;
    --primary-dark-color: #1c2433;
    --back-ground-classic-dark:#121722;
    --secondary-dark-lighter-color: #1d273c;
}

body{
    background-color: var(--back-ground-color);
}

input{
    background-color: var(--secondary-dark-color);
}

input:hover {
    background-color: var(--secondary-dark-lighter-color);
}
